USE [PharmacyDB]
GO
/****** Object:  Table [dbo].[AccountTitle]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTitle](
	[MonthName] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseTypeMaster]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseTypeMaster](
	[CaseName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CaseTypeMaster] PRIMARY KEY CLUSTERED 
(
	[CaseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_amt]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_amt](
	[bill_date] [datetime] NULL,
	[bill_no] [varchar](50) NULL,
	[code] [int] NULL,
	[amt] [float] NULL,
	[category_name] [varchar](100) NULL,
	[fees_name] [varchar](100) NULL,
	[u_amt] [float] NULL,
	[o_amt] [float] NULL,
	[dr_name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CombinationMaster]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CombinationMaster](
	[CombinationName] [varchar](200) NOT NULL,
 CONSTRAINT [PK_CombinationMaster] PRIMARY KEY CLUSTERED 
(
	[CombinationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorNameMaster]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorNameMaster](
	[DoctorName] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrugSlipDetails]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugSlipDetails](
	[BillNo] [numeric](18, 0) NULL,
	[BillDate] [datetime] NULL,
	[DrName] [varchar](200) NULL,
	[PatientID] [varchar](50) NULL,
	[PatientName] [varchar](200) NULL,
	[CaseType] [varchar](50) NULL,
	[SNo] [numeric](18, 0) NULL,
	[ProductName] [varchar](200) NULL,
	[Qty] [numeric](18, 0) NULL,
	[BatchNo] [varchar](50) NULL,
	[ExpDate] [datetime] NULL,
	[VAT] [float] NULL,
	[MRP] [float] NULL,
	[InvoiceNo] [varchar](50) NULL,
	[Total] [float] NULL,
	[Status] [varchar](1) NULL,
	[BillDateTime] [datetime] NULL,
	[LastPrint] [datetime] NULL,
	[Cash] [varchar](1) NULL,
	[CreditStatus] [varchar](1) NULL,
	[IncidentDate] [datetime] NULL,
	[CancelDate] [datetime] NULL,
	[UserName] [varchar](50) NULL,
	[stripe_mrp] [float] NULL,
	[strrate] [nchar](1) NULL,
	[dis_per] [float] NULL,
	[orate] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTable]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTable](
	[ESNo] [numeric](18, 0) NULL,
	[ESDate] [datetime] NULL,
	[InvoiceNo] [numeric](18, 0) NULL,
	[InvoiceYear] [varchar](50) NULL,
	[ProductName] [varchar](200) NULL,
	[BatchNo] [varchar](50) NULL,
	[ExpDate] [datetime] NULL,
	[PurchaseQty] [numeric](18, 0) NULL,
	[ESQty] [numeric](18, 0) NULL,
	[Discription] [varchar](200) NULL,
	[ESType] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FromToDateTable]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FromToDateTable](
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceNo] [numeric](18, 0) NULL,
	[InvoiceDateTime] [datetime] NULL,
	[CompanyInvoiceNo] [varchar](50) NULL,
	[DoctorName] [varchar](50) NULL,
	[SupplierID] [numeric](18, 0) NULL,
	[SNo] [numeric](18, 0) NULL,
	[ProductName] [varchar](200) NULL,
	[Qty] [numeric](18, 0) NULL,
	[BatchNo] [varchar](50) NULL,
	[ExpDate] [datetime] NULL,
	[VAT] [money] NULL,
	[MRP] [money] NULL,
	[HSR] [money] NULL,
	[Total] [money] NULL,
	[Status] [varchar](1) NULL,
	[InvoiceDt] [datetime] NULL,
	[CompanyDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceTitle]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTitle](
	[Product] [varchar](200) NULL,
	[ProductGroup] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LastLogin]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastLogin](
	[LastLoginTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTTemplate]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTTemplate](
	[DrName] [varchar](100) NULL,
	[CaseType] [varchar](50) NULL,
	[SNo] [int] NULL,
	[ProductName] [varchar](200) NULL,
	[Qty] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDue]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDue](
	[BillNo] [numeric](18, 0) NULL,
	[BillDate] [datetime] NULL,
	[Amount] [money] NULL,
	[DueNo] [int] NULL,
	[DueDate] [datetime] NULL,
	[DueAmount] [money] NULL,
	[AmountReceived] [money] NULL,
	[BalanceAmount] [money] NULL,
	[DueStatus] [varchar](2) NULL,
	[BillStatus] [varchar](1) NULL,
	[UserName] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroupMaster]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroupMaster](
	[GroupName] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaster]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaster](
	[ProductName] [varchar](200) NOT NULL,
	[ProductGroup] [varchar](50) NULL,
	[RackNo] [varchar](100) NULL,
	[MinimumStock] [numeric](18, 0) NULL,
	[DoctorName] [varchar](200) NULL,
	[CombinationName] [varchar](200) NULL,
	[Manufacturer] [varchar](100) NULL,
	[IsScheduleH] [varchar](50) NULL,
 CONSTRAINT [PK_ProductMaster] PRIMARY KEY CLUSTERED 
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationDetails]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationDetails](
	[QuotationNo] [numeric](18, 0) NULL,
	[QuotationDate] [datetime] NULL,
	[CompanyQuotationNo] [varchar](50) NULL,
	[DoctorName] [varchar](50) NULL,
	[SupplierID] [numeric](18, 0) NULL,
	[SNo] [numeric](18, 0) NULL,
	[ProductName] [varchar](50) NULL,
	[Qty] [numeric](18, 0) NULL,
	[VAT] [money] NULL,
	[MRP] [money] NULL,
	[HSR] [money] NULL,
	[Total] [money] NULL,
	[Status] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTitles]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTitles](
	[CaseType] [varchar](100) NULL,
	[ProductGroup] [varchar](100) NULL,
	[ProductName] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesReturnDetails]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReturnDetails](
	[ReturnBillNo] [numeric](18, 0) NULL,
	[ReturnBillDate] [datetime] NULL,
	[SalesBillNo] [numeric](18, 0) NULL,
	[SalesBillDate] [datetime] NULL,
	[DrName] [varchar](200) NULL,
	[PatientID] [varchar](50) NULL,
	[PatientName] [varchar](50) NULL,
	[SNo] [numeric](18, 0) NULL,
	[ProductName] [varchar](200) NULL,
	[ReturnQty] [numeric](18, 0) NULL,
	[InvoiceNo] [varchar](50) NULL,
	[BatchNo] [varchar](50) NULL,
	[MRP] [float] NOT NULL,
	[VAT] [float] NULL,
	[Total] [float] NULL,
	[ReturnBillDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingleTitle]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingleTitle](
	[TitleText] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ssss]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ssss](
	[tdate] [datetime] NULL,
	[amt] [float] NULL,
	[dr_amt] [float] NULL,
	[limit_amt] [float] NULL,
	[status] [nchar](1) NULL,
	[tax_per] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockDetails]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockDetails](
	[InvoiceNo] [numeric](18, 0) NULL,
	[InvoiceDateTime] [datetime] NULL,
	[ProductName] [varchar](200) NULL,
	[ExpDate] [datetime] NULL,
	[BatchNo] [varchar](50) NULL,
	[CurrentQty] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockPrint]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockPrint](
	[StockDate] [datetime] NULL,
	[ProductName] [varchar](300) NULL,
	[OpeningStock] [int] NULL,
	[Purchase] [int] NULL,
	[Sales] [int] NULL,
	[SalesReturn] [int] NULL,
	[Excess] [int] NULL,
	[Shortage] [int] NULL,
	[ClosingStock] [int] NULL,
	[StockValue] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockPrint1]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockPrint1](
	[ProductName] [varchar](200) NULL,
	[OpeningStock] [numeric](18, 0) NULL,
	[Purchase] [numeric](18, 0) NULL,
	[Sales] [numeric](18, 0) NULL,
	[OwnSales] [numeric](18, 0) NULL,
	[SalesFromPurchase] [numeric](18, 0) NULL,
	[SalesReturn] [numeric](18, 0) NULL,
	[Excess] [numeric](18, 0) NULL,
	[Shortage] [numeric](18, 0) NULL,
	[ClosingStock] [numeric](18, 0) NULL,
	[StockValue] [numeric](18, 0) NULL,
	[DrName] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierMaster]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierMaster](
	[SupplierID] [numeric](18, 0) NOT NULL,
	[SupplierName] [varchar](100) NOT NULL,
	[Street1] [varchar](100) NULL,
	[Street2] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[PINCode] [varchar](10) NULL,
	[eMail] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[TINNo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tdate_per]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tdate_per](
	[tdate] [datetime] NULL,
	[status] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 10/Aug/2025 07:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Rights] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DrugSlipDetails] ADD  CONSTRAINT [DF_DrugSlipDetails_strrate]  DEFAULT ('N') FOR [strrate]
GO
ALTER TABLE [dbo].[ssss] ADD  CONSTRAINT [DF_ssss_status]  DEFAULT ('N') FOR [status]
GO
ALTER TABLE [dbo].[DrugSlipDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_DrugSlipDetails_ProductMaster] FOREIGN KEY([ProductName])
REFERENCES [dbo].[ProductMaster] ([ProductName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DrugSlipDetails] CHECK CONSTRAINT [FK_DrugSlipDetails_ProductMaster]
GO
ALTER TABLE [dbo].[ESTable]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTable_ProductMaster] FOREIGN KEY([ProductName])
REFERENCES [dbo].[ProductMaster] ([ProductName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ESTable] CHECK CONSTRAINT [FK_ESTable_ProductMaster]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceDetails_ProductMaster] FOREIGN KEY([ProductName])
REFERENCES [dbo].[ProductMaster] ([ProductName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_ProductMaster]
GO
ALTER TABLE [dbo].[SalesReturnDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_SalesReturnDetails_ProductMaster] FOREIGN KEY([ProductName])
REFERENCES [dbo].[ProductMaster] ([ProductName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SalesReturnDetails] CHECK CONSTRAINT [FK_SalesReturnDetails_ProductMaster]
GO
ALTER TABLE [dbo].[StockDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_StockDetails_ProductMaster] FOREIGN KEY([ProductName])
REFERENCES [dbo].[ProductMaster] ([ProductName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StockDetails] CHECK CONSTRAINT [FK_StockDetails_ProductMaster]
GO
ALTER TABLE [dbo].[StockDetails]  WITH NOCHECK ADD  CONSTRAINT [CHK_Stock] CHECK  (([CurrentQty] >= 0))
GO
ALTER TABLE [dbo].[StockDetails] CHECK CONSTRAINT [CHK_Stock]
GO
